<!-- footer0 -->
<div id="footer" class="nohist">
	<a target="_blank" href="/about.html">关于<%= SITE_TITLE %></a> | 
	<a target="_blank" href="/user.html">用户协议</a> | 
	<a target="_blank" href="/help.html">帮助</a> | 
	<a target="_blank" href="/feedback/?type=1">举报不良信息</a> | 
	<a target="_blank" href="/feedback/?type=2">联系我们</a>
	<br>
	© 2010 <%= SITE_TITLE %>
</div>
<!-- footer1 -->