<!-- header0 -->
<div id="header" class="nohist">
	<span id="header_links" style="float: right; text-align: right;">
		<span id="loginBox">
			<a href="/zhuce">注册</a> | <a href="/denglu">登录</a>
		<br>
		</span>
		<span style="font-size: 20px; line-height: 1.5;">
		<strong>
		<a href="/fabu">免费发布信息</a></strong> | <a href="/xiugai">修改删除信息</a>
		</span>
	</span>
	<a href="/" id="logo"><img src="/images/logo.gif" alt="800生活网"></a>
	<a href="/" id="area">北京</a>
	<div style="clear: both;"></div>
</div>
<!-- header1 -->