<%= javascript_include_tag "jquery.min.js" %>

<li>
	<input type="hidden" value="<%=@img_path%>" name="images[]">
	<img width="64" height="64" class="imgBorderBeta" src="<%=@img_path.gsub('.', '_s.')%>">
	<span class="imgBeta">
		<img width="10" height="8" align="absmiddle" src="/images/dui.gif"> 上传成功 
		<a onclick="removePreview(this)" title="删除这张图片" href="#">
			<img width="10" height="10" border="0" align="absmiddle" alt="删除这张图片" src="/images/laji.gif">
		</a>
	</span>
	<div class="blank10"></div>
</li>

<script>
	$(parent.document).find('#imagesUl').append($('li'));
</script>