<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="zh-CN">
	<title><%=@title || SITE_TITLE %></title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<%= javascript_include_tag "jquery.min.js" %>
</head>
<body>
<%= yield %>
<%= render :partial=>'share/footer' %>
</body>
</html>